.mainBlock {
    min-height: 100vh;
    background-color: rgb(163, 197, 255);
}

.greeting {
    width: 300px;
    background-color: rgb(255, 144, 89);
    color: white;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: rgb(255, 144, 89);
}