.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    text-align: center;
}

.projectImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: #c1be91;
}

.projectImgContainer a {
    text-decoration: none;
    background-color: aliceblue;
    width: 70px;
}

.projectImg {

}



.description {

}